<footer class="card-footer custom-footer">
  <button class="btn btn-outline-primary custom-voltar-btn">Voltar</button>
  <button class="btn btn-primary custom-comentarios-btn">Comentários</button>
</footer>