<footer class="footer-pet">
  <div class="footer-buttons">
    <a href="{{link}}" class="btn custom-voltar-btn">Voltar</a>
    <a href="{{comentariosLink}}" class="btn custom-comentarios-btn">Comentários
      <span style="font-weight:580;">{{texto}}</span>
    </a>
  </div>
</footer>
