<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center mb-4">
                <img src="/images/achoupet.png" alt="AchouPet Logo" style="width: 150px;">
            </div>
            <div class = "letras">
            <h2 class="text-center mb-4">Login</h2>
            <form>
                <div class="inputs">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>

                    {{!-- botao de Entrar --}}
                    <button type="submit" class="btn btn-primary w-100 custom-entrar-btn">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>