<div class="container" style="margin-top: 2vh;">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

      <!-- Bloco da logo e subtítulo -->
      <div style="margin-top: 40px; text-align: center;">
        <img src="/images/achoupet.png" alt="AchouPet Logo" style="height: 120px;">
        </div>

        <h4 style="margin-top: 1rem; font-size: 1.2rem;">
          <strong>Encontre ou anuncie seu pet perdido</strong>
          </h4>
      </div>

      <!-- Bloco do formulário -->
      <div class="campos">
        <form>
          <div class="inputs">
            <div class="mb-3">
              <label for="email" class="form-label">Email ou CPF</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <div class="redefinir">
              <a href="/redefinir" role="button">
                  <span style="font-weight:580;">Redefinir senha</span>
              </a>

            <!-- Botão de entrar -->
            <div class="botaoentrar">
              <a href="/animais" class="btn btn-primary custom-entrar-btn d-flex align-items-center" role="button ">
                  <span style="font-weight:580;">Entrar</span>
              </a>
        
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
