<div class="anunciarcontainer">
  <div class="anunciar">
      <form>
          <div class="mb-3">
            <label for="email" class="form-label">Crie uma senha</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Repita a senha</label>
            <input type="password" class="form-control" id="password" required>
          </div>
      </form>
  </div>
  {{>_footer}}
  {{>_filtros}}
</div>