<div class="containercadastro">
  <div class="camposred">
    <div class="col-md-6 col-lg-4 campos">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Digite seu nome </label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Digite seu CPF</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Insira seu e-mail</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Insira o seu celular</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        {{>_entrar link="/criarsenha" texto="Próximo" }}  
        {{>_voltar link="/signIn" }} 
      </form>
    </div>
  </div>
</div>
