<div class="inicio-container">
    <div class="text-container">
        <h1 class="title-inicio"> Encontre ou anuncie seu pet perdido</h1>
        <h3 class="textIntrod-inicio">Aproveite ferramentas de busca de animais de estimação, reconhecidas por sua eficiência em todo o Brasil. Cadastre seu anúncio gratuitamente agora e tenha acesso exclusivo ao painel de busca.</h3>
        <div class="btns-inicio">
            <div class="btn-pesquisar">
                <img src="/images/find-1.png" alt="lupa" class="img-pesquisarPet"><button> Quero pesquisar um pet </button>
                <img src="/images/lupa.png" alt="lupa" class="img-pesquisarPet"><button> Quero pesquisar um pet </button>
            </div>
        </div>
    </div>
    <div class="divImg-inicio">
        <img src="/images/inicio-mulher.png" alt="img-inicio" class="img-mulher-inicio">
    </div>
</div>
