<div class="main-content">
  <h1 class="title-inicio">Detalhes do Animal</h1>

  <div class="anun">
    <div class="card mb-4" style="border: 2px solid #1383EE; border-radius: 20px; padding: 20px;">
      <div style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <img src="/images/jade.jpg" alt="Jade" style="width: 250px; height: 250px; border-radius: 20px; object-fit: cover;">
        <div>
          <h3 style="margin: 10px 0; color: #112446; text-align: center;">Jade</h3>
          <p style="margin: 4px 0; font-weight: bold; color: #ff0000;">Status: Perdido</p>
          <p style="margin: 4px 0;">Local: Centro, Joinville</p>
          <p style="margin: 4px 0;">Raça: SRD (Sem Raça Definida)</p>
          <p style="margin: 4px 0;">Idade: 2 anos</p>
          <p style="margin: 4px 0;">Detalhes: Foi vista pela última vez perto do shopping Mueller.</p>
          <p style="margin: 4px 0;">Contato do Dono: (47) 99999-9999</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-buttons" style="padding-top: 0px; padding-bottom: 50px; justify-content: center;">
  <a href="/comentarios" class="btn custom-comentarios-btn" style="padding: 15px 40px; font-size: 1.2rem;"><span style="font-weight:580;">Comentar</span></a>
</div>