<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 campos">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email ou CPF</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="redefinir">
          <a href="/login/redefinirsenha" class="d-flex align-items-center" role="button">
            <span style="font-weight:580;">Redefinir senha</span>
          </a>
        </div>
       {{>_entrar link="/animais" texto="Entrar" }}  
       {{>_voltar link="/" }} 
      <div class="naoPossuiConta">Não possui conta? <div class="crieUmaConta" ><a href="/login/criarconta">crie uma !</a></div></div>
      </form>
      
    </div>
  </div>
</div>
<script src=""></script>