html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    border-radius: 0px !important;
}
html {
    scroll-behavior: smooth;    
}

.header-container {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3%; /* Adiciona um pouco de espaço nas laterais */

}

.navbar-nav{
    margin-top: 1rem;
}

.custom-footer{
    bottom: 10px;
}

.flex-grow-1{
margin-top: 0% !important;

}
.inicio-container {
    display: flex;
    justify-content: space-between; /* Coloca um item na esquerda e outro na direita, Centraliza os itens verticalmente na grade */
    gap: 10%; /* Espaço entre o texto e a imagem */
    padding: 2% 1%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.textIntrod-inicio {
    color:#112446;
    max-width: 800px; /* Usa max-width para responsividade */
    min-width: 400px;
    
}   
.title-inicio {
    color:#112446;  
    font-size: 3.5rem;
    max-width: 900px;
    min-width: 300px;
    font-weight: 700; /* Peso máximo da fonte Comfortaa importada */
    /* Truque para engrossar a   com um contorno */
    -webkit-text-stroke: 0.5px #112446; /* Para navegadores como Chrome, Safari, Edge */
}
.divImg-inicio {
    background-color: #c1D4F6;
    width: 50vw; /* 40% da largura da tela */
    height: 50vw; /* mantém o formato circular */
    max-width: 500px; /* evita que fique muito grande em telas grandes */
    max-height: 500px;
    min-width: 400px; /* e nem muito pequena */
    min-height: 400px;
    border-radius: 50%; /* Forma mais comum de fazer um círculo */
    overflow: hidden; /* Garante que a imagem não saia do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-mulher-inicio {
    width: 100%; /* Faz a imagem preencher o círculo */
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o círculo sem distorção */
}


@media (max-width: 1200px) {
    .inicio-container {
        grid-template-columns: 1fr; /* Coluna única em telas menores */
        text-align: center;
    }

    .navbar-collapse{
        background-color: rgb(251, 33, 33);
        border-radius: 20px;
        padding: 30px;
        border : 2px solid #1383EE;
        position: absolute; /* Ajuda a posicionar sobre outros elementos */
        top: 80px; /* Ajuste a distância do topo conforme necessário */
        right: 20px; /* Alinha à direita */
        width:auto;
       /* Largura total para telas pequenas */
        z-index: 1000; /* Garante que o menu fique sobre outros conteúdos */
    }
}



.custom-entrar-btn {
    background-color: #1383EE !important;
    color: #fff !important;
    border: none !important;
    border-radius: 100px;
    font-size: 1.2rem;
    padding: 10px 32px;
    min-width: 120px;
    height: 48px;
    display: flex;
    align-items: center;    
    justify-content: center;
     margin-right: 1.5rem;

}

.custom-anunciar-btn {
    background-color: #fff;
    color: #1383EE;
    border: 5px solid #1383EE;
    border-radius: 100px;
    font-size: 1.2rem;
    min-width: 120px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg-fundo{
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa a altura total da janela */
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0px !important;
}

.logo-img {
    height: 200px;      /* Altura da logo ajustada para a navbar */
    width: 200px;       /* A largura se ajustará para manter a proporção */    
    display: flex;
    justify-content: left; /* Centraliza a imagem horizontalmente */
    
}


.bg-navbar{ 
    background-color: #bb0c0c00 !important; 
}
/* Media query para telas menores (como celulares) */

.main-content {
    flex-grow: 1; /* Faz o conteúdo principal crescer para ocupar o espaço */
    margin-left: 20px;  /* Mesma margem esquerda do rodapé */
    margin-right: 20px; /* Mesma margem direita do rodapé */
    padding-left: 45px; /* Preenchimento interno para o conteúdo não colar na borda */
    padding-right: 45px;/* Preenchimento interno para o conteúdo não colar na borda */
    
}

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari, Edge) */
main::-webkit-scrollbar {
    width: 12px;
    margin: 0px;
}

/* Estiliza o fundo (trilha) da barra de rolagem */
main::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: #1383EE; 
    border-radius: 10px; 
    border: 3px solid #f1f1f1; 
}

/* Estiliza o "polegar" ao passar o mouse sobre ele */
main::-webkit-scrollbar-thumb:hover {
    background: #0a5bb5; 
}

.custom-pesquisar-btn {
  background-color: #1383EE !important;
  color: #fff !important;
  border-radius: 500px;
  font-size: 0.9rem;
  height: 65px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* ou center, start */
  position: absolute;
  top: 500px;
  left: 100px;
  margin-right: 20px;
}

.custom-cadastrar-btn {
  background-color: #ffffff !important;
  color: #1383EE !important;
  border: 4px solid #1383EE;
  border-radius: 500px;
  font-size: 0.9rem;
  height: 65px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* ou center, start */
  position: absolute;
  top: 500px;
  left: 400px;
  margin-right: 20px;
}

.title-inicio {
  margin-bottom: 30px;
}

.textIntrod-inicio {
  margin-top: 15px;
}

.divImg-inicio {
    background-color: #c1D4F6;
    width: 50vw; /* 40% da largura da tela */
    height: 50vw; /* mantém o formato circular */
    max-width: 500px; /* evita que fique muito grande em telas grandes */
    max-height: 500px;
    min-width: 400px; /* e nem muito pequena */
    min-height: 400px;
    border-radius: 50%; /* Forma mais comum de fazer um círculo */
    overflow: hidden; /* Garante que a imagem não saia do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*rodapé*/

.footer-pet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* ocupa toda a largura */
  background-color: #ffffff;
  padding: 12px 20px;
  border-top: 2px solid #1383EE;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between; /* joga um botão pra cada canto */
  align-items: center;
  z-index: 1000;
}

.main-content {
  padding-bottom: 100px; /*para que não fique nenhum conteúdo atrás do rodapé*/
}


.footer-buttons {
  width: 100%; /* garante que os botões se espalhem */
  display: flex;
  justify-content: space-between;
}

.footer-buttons .btn {
  min-width: 140px;
  text-align: center;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Efeito de clique */
.footer-buttons .btn:active {
  transform: scale(0.97);
}

/* Botão Voltar */
.custom-voltar-btn {
  background-color: #ffffff;
  color: #1383EE;
  border: 2px solid #1383EE;
}

.custom-voltar-btn:hover {
  background-color: #cfcfcf;
  transform: scale(1.05);
}

/* Botão Comentários */
.custom-comentarios-btn {
  background-color: #1383EE;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-comentarios-btn:hover {
  background-color: #0a5bb5;
  transform: scale(1.05);
}

/* Ajuste do span dentro do botão Comentários */
.custom-comentarios-btn span {
  font-weight: 700;
  margin-left: 6px;
}

/*fim rodapé*/
 
/* menu filtro */
.divImgFiltros{
  background-color: #112446;
}
.btn-filtro {
  position: absolute;
  top: 100px;
  left: 6%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 0;
  z-index: 100;
  background-color: #112446 !important;
}

.img-filtro {
  width: 45px;   /* tamanho do botão */
  height: auto;
  display: block;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.btn-filtro:hover .img-filtro {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.menu-filtros {
  margin-top: 45px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #D9ECFF;
  z-index: 200;
}

.btn-success{
  background-color: #ffffff;
  color: #1383EE;
  border: 2px solid #1383EE;
  border-radius: 100px;
}

/* fim menu filtro*/

.anunciar{
  position: fixed;
  top: 25%;
}
  