/* Reset e base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  background-color: #BCDFFF;
  scroll-behavior: smooth;
  border-radius: 0 !important;
}

/* Botão de entrada */
.custom-entrar-btn {
  background-color: #112446 !important;
  color: #fff !important;
  border: 1px solid black !important;
  border-radius: 300px;
  font-size: 1rem;
  padding: 4px 10px;
  height: 47px;
  width: 300px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Conteúdo principal */
.main-content {
  margin-left: 20%;
  margin-right: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

/* Barra de rolagem personalizada */
main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #1383EE;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

main::-webkit-scrollbar-thumb:hover {
  background: #0a5bb5;
}

/* Campos de formulário */
.campos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email,
#password {
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #000000;
  width: 100%; /* Ocupa a largura do container */
}

.text-container{
    position: absolute;
    top: 40%;
    left: 50%;
}

@media (max-width: 1200px) {
  .campos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  }
}

.campos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
  }

.criar {
  position: fixed;
  bottom: 20px; /* distância do final da tela */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #112446;
  z-index: 1000;
}

.criar a {
  text-decoration: underline;
  color: #000000;
  font-weight: 600;
  transition: color 0.3s ease;
}

.criar a:hover {
  color: #000000;
}
