.body, html, body {
    height: 100%;
    margin: 0;
    padding: 2;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-weight: bold; 
    border-radius: 0px !important;
}
html {
    scroll-behavior: smooth;    
}



.custom-entrar-btn {
    background-color: #112446 !important;
    color: #fff !important;
    border: black !important;
    border-radius: 300px;
    font-size: 1rem;
    padding: 4px 10px;  
    height: 47px;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-top: 1rem;   
    width: 80px;
}


body{
    background-color: #BCDFFF;
}   

.logo-img {
    width: 80%;
    max-width: 400px; /* Define uma largura máxima para não ficar gigante em telas grandes */
    height: auto; /* A altura se ajustará automaticamente para manter a proporção */
}

.main-content {
    margin-left: 20%;  /* Mesma margem esquerda do rodapé */
    margin-right: 10%; /* Mesma margem direita do rodapé */
    padding-left: 15%; /* Preenchimento interno para o conteúdo não colar na borda */
    padding-right: 15%;/* Preenchimento interno para o conteúdo não colar na borda */
}


main::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    margin: 0px;
}

/* Estiliza o fundo (trilha) da barra de rolagem */
main::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
    border-radius: 10px;
}

/* Estiliza o "polegar" (a parte que você arrasta) da barra de rolagem */
main::-webkit-scrollbar-thumb {
    background-color: #1383EE; /* Cor azul principal do seu site */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f1f1f1; /* Cria um espaçamento ao redor do polegar */
}

/* Estiliza o "polegar" ao passar o mouse sobre ele */
main::-webkit-scrollbar-thumb:hover {
    background: #0a5bb5; /* Um tom de azul mais escuro para o efeito hover */
}

#email,#password{
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid #000000;
}




